body{
    background-color: #9F8D77;
      background-repeat: no-repeat !important;
      background-size: auto ;
      background-position: center; 
      transition: all 0.7s linear;
      margin: 0;
      padding: 0;
    
    }

.marchio{
    position: relative;
    margin: auto;
    width: 250px;
}

.menu {
    margin: auto;
    position: relative;
    height: 70px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.menu a {
   
padding: 10px;
color: white;
}



    
    .menu_centro{
    width:400px;
    margin:100px auto;
    font-size: 96px;
    font-family: 'Inter', sans-serif;

    
    }
    
    .link_hover{
    text-align:center;
    color:white;
    text-decoration:none;
    font-size: 45px;
    display:block;
    padding:15px
    }

    .link_hover:hover{
        
        color:#A89276;
        
        }

        