body{
    background-color: #9F8D77;
      background-repeat: no-repeat !important;
      background-size: auto ;
      background-position: center; 
      transition: all 0.7s linear;
      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
    
    }

 img{
    max-width: 100%;
 }   

.marchio{
    position: relative;
    margin: auto;
    width: 250px;
}

.menu {
    margin: auto;
    position: relative;
    height: 70px;
    text-align: center;
    
}

.menu a {
   
padding: 10px;
color: white;
}



    
    .menu_centro{
    width:400px;
    margin:100px auto;
    font-size: 96px;
    font-family: 'Inter', sans-serif;

    
    }
    
    .link_hover{
    text-align:center;
    color:white;
    text-decoration:none;
    font-size: 45px;
    display:block;
    padding:15px
    }

    .link_hover:hover{
        
        color:#A89276;
        
        }

        .contenitore{
            width: 80%; 
            margin: auto;  
            text-align: center; 
            color: white; 
            background-repeat: no-repeat !important;
           
        }

    
        .contenitore_testo{
            width: 80%; 
            margin: auto;  
            color: white; 
           font-size: 22px;
           font-weight: 200;
        }

        .incipit{
            padding: 150px 0px;

        }

        .incipit h1{
            font-size: 100px;
            margin-bottom: 0px;
        }

        .incipit h2{
            font-size: 35px;
            margin-top: 0px;
        }

        .barra{
margin-left: 135px;
color: white;
padding: 1px;

        }
        .barra h1{
            font-size: 40px;
            margin-bottom: 0px;
            font-weight: normal;
        }

        .barra h2{
            font-size: 30px;
            margin-top: 0px;
        }


.centro{

padding-top:200px;

}        
@media only screen and (max-width: 600px) {
    .centro {
        padding-top:10px;    }
  }

  .tit {
    padding: 18px 0px;
    font-size: 70px;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: underline;
  }

  .barra_footer {


color: white;
padding: 13px;
  }